OPENAI_API_KEY=aaa

LANGSMITH_API_KEY=aaa
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=default
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

# langfuse
LANGFUSE_SECRET_KEY=aaa
LANGFUSE_PUBLIC_KEY=aaa
LANGFUSE_HOST=https://us.cloud.langfuse.com

TAVILY_API_KEY=aaa

MY_GITHUB_TOKEN=aaa
LINEAR_API_KEY=aaa

OWNER=aaa
REPO=aaa
PULL_REQUEST_NUMBER=1